html { 
  background: url("images/Marketing OUTSIDE Photo.gif") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
font-size: 10px;
font-family: Arial,Helvetica,sans-serif;
}

img{
  height:100%;
  width: 100%;
  display: center;
}

.upper{
  display: grid;
 /*border: 2px solid white; */
  grid-template-columns: minmax(min-content, 6fr)  minmax(min-content, 2fr) minmax(min-content, 1fr);

}

.upperFirm{
  display: grid;
  margin: 10vh 5vw 10vh 20vw;
/*border: 2px solid #13e716;*/
  grid-template-columns: minmax(auto, 75vmax) minmax(auto, 25vmax);
/*  grid-template-columns: minmax(auto, 75vw) minmax(auto, 25vw); */
  max-height: 90%;
  max-width: 90%;

}

.upperFirm img { 
  height: auto;
  max-height: 10%vh;
  max-width: 75%vw;
/*  min-width: 33%vw;*/
/*  border: 2px solid red;*/
  justify-content: right;
  animation: fadeIn ease 2s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;

}

/*
.one{
  margin-left: 0px;
  border: 10px solid #4614d2;
}
*/

.icon{
  text-decoration: none;
}

.puretext{text-indent:12px; text-align: justify; padding: 8px; font-size: 8px;  font-size: 1.0vw;}

.pureblocktext{text-indent:0px; text-align: justify; font-size: 8px;  font-size: 1.5vw; line-spacing: 0.8; font-family:Calibri; }

.pureblockh1{text-align: center; font-family: Calibri; font-size: 18px; font-size: 2.3vw; padding: 0px 0px}

.pureblockh2{text-align: center; font-family: Calibri; font-size: 12px; font-size: 1.8vw;}

.menu{
  /*   border: 1px solid black;*/
     height: auto;
     width: auto;
     margin: 0px;
}


.line{
 /*  border: 1px solid red; */
}

/*Animated menu Section*/

ul{
 /* border:2px solid blue; */
  position: relative;
  transform: skewY(2deg);
}

ul li{
  position: relative;
  list-style: none;
  width: 200px;
  /*face plate color*/
  background: transparent;
  padding: 15px;
  z-index: var(--i);
  transition: 0.5s;
}

ul li:hover {
 background: #33a3ee;
  font-size: 120%;
 transform: translateX(-45px);
}

ul li::before
{
content: '';
  position: absolute;
  top: 0;
  left: -40px;
  width: 40px;
  height: 100%;
  /*left plate color*/
  background: transparent;
  transform-origin: right;
  transform: skewY(45deg);
  transition: 0.5s;
}

ul li:hover::before{
background: #1f5378;

}

ul li::after
{
content: '';
  position: absolute;
  top: -40px;
  left: 0;
  width: 100%;
  height: 40px;
  /* flat pieces color*/
  background: transparent;
  transform-origin: bottom;
  transform: skewX(45deg);
  transition: 0.5s;
}

ul li:hover::after
{
background: #2982b9;

}

ul li a
{
  text-decoration: none;
  color: black;
  display: block;
  /*text-transform: uppercase;*/
  letter-spacing: 0.05em;
  font-size:1.5em;
  transition: 0.5s;
}

ul li:hover a{
  color: #fff;

}

ul li:last-child::after
  {
  box-shadow: -120px 120px 20px rgba(0,0,0,0.25);
  }

/* End of Animated Menu */

.lower{
  display: grid;
  grid-area: 
    ". banner ."
    "copyright blankspace logo";
  grid-template-column: 1fr 3fr 1fr;
 /*grid-template-columns: minmax(50px, 1fr)  minmax(200px, 3fr) minmax(50px, 1fr);*/
  margin-top: 40vh;
}

.banner {
  max-width: 83%;
  margin-left: 8%;
  grid-area: banner;
  padding: 0px;
  grid-row: 1;
  grid-column: 2/2;
  justify-content: center;
  animation: slideinright ease 3s;
/*  filter: drop-shadow(6px 10px 2px #6885b9);*/

/*  animation-duration: 3.8s;
  animation-timing-function: ease;
  animation-fill-mode: none;*/
  /*animation-name: slideup;*/
  /*border: 2px solid #ec0909;*/
}

.copyright{
  grid-area: copyright;
/*  grid-row: 2;
  grid-column: 2/1;*/

  /*this will line up with banner (above)*/
  max-width: 83%;
  margin-left: 8%;
  animation: fadeIn ease 12s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
  /*animation-duration: 10s;
  animation-name: slideinright;*/
  text-align: start;
}

.logo{
  grid-area: logo;
/*grid-row: 2;
  grid-column: 3/1;*/
  margin-right: 9%;
  animation: fadeIn ease 8s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards
  text-align: end;
/*  border: 2px solid #80ffff;*/
}

@keyframes slideinleft {
  from {
    margin-right: 300%;
  }

  50% {
  /*  font-size: 300%;*/
    margin-right: 50%;
  }

  to {
    margin-right: 0%;
   }
}

 @keyframes slideinright {
  from {
    margin-left: -300%;
  }

  to {
    marginl-left: 0%;
  }
}

@keyframes slideup {
  from {
    margin-top: 200%;
  }

  to {
    margin-top: 0%;

  }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}




#parent {  
  display: flex;
  flex-direction: row;
  color: blue;


}

#parent section{
  flex: 1;
  width: auto;
  border: 1px solid rgba(255, 0, 0, 0.8);
  text-align: center;
  margin: 0px 2px 2px 0px;
}


.footsection {
  display: grid;
  grid-template-rows: max-content max-content min-content max-content;
-ms-grid-columns: 100%;
grid-template-columns: 100%;
align-items: start;
justify-content: stretch;
}

#comp-jao5j6s3{
    --min-height: 27px;
  height: auto;
  width: 293px;
}

[data-mesh-id="SITE_FOOTERinlineContent-gridContainer"] > [id="comp-jao5j6s3"] {
  position: relative;
  margin: 0px 0px 0px calc((100% - 980px) * 0.5);
  left: 875px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}


._1Q9if, ._2Hij5 {
  word-wrap: break-word;
  overflow-wrap: break-word;
  text-align: start;
  pointer-events: none;
  min-height: var(--min-height);
  min-width: var(--min-width);
}


.active {
  background-color: #04AA6D;
  color: white;
}

.menu .icon {
  display: none;
}

/* mobile scaling to drop down menu (not used)
.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;    
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.menu a:hover, .dropdown:hover .dropbtn {
  background-color: white;
  color: white;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}
*/


/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the menu (.icon) */

@media screen and (max-width: 600px) {
  .menu ul li {
    display: none;
     }
  .menu a.icon {
    float: right;
    display: flex;
    }
}



/* The "responsive" class is added to the menu with JavaScript when the user clicks on the icon. This class makes the menu look good on small screens (collapesed)*/

@media screen and (max-width: 600px) {
  .menu.responsive {position: relative;}
  .menu.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .menu.responsive ul li {
    /*background-color: red;
    transform: scale(0.2);*/
    display: flex;
    /* text-align: left; */
  }


  .menu.responsive .dropdown {float: none;}
  .menu.responsive .dropdown-content {position: relative;}
  .menu.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}

/* @media screen and (max-width: 600px) {*/
   /* For mobile: */
 /*  body { background-color:yellow;}*/
  /*.upper {
    float: none;
    width: 100%;
  }

}*/

/*

@media only screen and (min-width: 850px) {
    #navbar ul {
    width: 20%;    
    display: flex;
    flex-direction: column;
    flex: 1 0 10%;
    margin: 0px;
    padding: 0px;
    }
}


@media only screen and (max-width: 550px) {
  body { background-color:yellow;}

}
*/